[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
panda3d = "==1.10.9"
wxpython = "==4.1.1"
pypubsub = "==4.0.3"
yapsy = "==1.12.2"

[requires]
python_version = "3.6"
